<div class="grid mt-10 gap-6 sm:grid-cols-2 lg:grid-cols-3">
  <div
    *ngFor="let extension of extensions; let i = index"
    class="extension-card rounded-xl p-4 shadow-md flex flex-col justify-between"
  >
    <div class="flex items-start gap-3">
      <img [src]="extension.logo" [alt]="extension.name" class="w-8 h-8" />
      <div>
        <h3 class="text-lg font-semibold mb-0.5">{{ extension.name }}</h3>
        <p class="text-sm">{{ extension.description }}</p>
      </div>
    </div>

    <div class="mt-4 flex justify-between items-center">
      <button
        class="hover:bg-red-400 text-sm px-4 py-1 border rounded-md transition-all cursor-pointer"
        (click)="removeExtension(i)"
      >
        Remove
      </button>

     <label class="inline-flex items-center cursor-pointer">
  <input
    type="checkbox"
    class="sr-only peer"
    [checked]="extension.isActive"
    (change)="toggleStatus(extension)"
  />
  <div
    class="relative w-11 h-6 bg-gray-400 rounded-full peer-checked:bg-green-500 transition-colors"
  >
    <div
      class="absolute top-0.5 left-0.5 w-5 h-5 bg-white rounded-full 
             transition-transform transform peer-checked:translate-x-5"
    ></div>
  </div>
</label>

    </div>
  </div>
</div>
